# .bash_aliases is created on install from a script, don't track in git
.bash_aliases
.bash_aliases--

#ignore these files
git.status.txt
/.idea

*.csv
*.tmp
*.transformed
!scripts/iucu_data_parser/iucu-transaction-examples.csv